/*# sourceMappingURL=header.css.map */
body {
    font-family: Montserrat, sans-serif;
}

.open {
    display: flex !important;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 128px;
    background-color: #E1E8F0;
    color: #faf6f2;
    padding: 0 40px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: 1px solid #faf6f2;
    width: 114px;
    height: 105px;
    font-style: italic;
}

.nav {
    display: flex;
    width: 900px;
    padding: 0 40px;
    gap: 40px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;

    a {
        color: black;
        list-style: none;
        text-decoration: none;
    }

}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: black;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

/* добавлем класс active для анимации иконки бургер */
.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

/* при разрешении экрана 900px и ниже, выводим на экран иконку бургер */

@media (max-width: 900px) {
    .burger {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: grey;
        animation: burgerAnimation 0.4s;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }

    * {
        box-sizing: border-box;
        margin: 0;
    }

}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


// кнопка прокрутки вверх

#myBtn {
    display: none;
    // скрыть по умолчанию
    position: fixed;
    // Фиксированное / липкое положение
    bottom: 20px;
    // Поместите кнопку в нижней части страницы
    right: 30px;
    // Разместить кнопку 30 пикселей от правого
}

#myBtn:hover {
    background-color: #006daa;
}

//  для кнопок вперед назад

.main__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-shrink: 1;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 0px 20px 50px;
    filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #666666);

}

.main__btn-box-o {
    width: 100%;
    display: none;
    justify-content: center;
    max-width: 100px;
    margin-bottom: 30px;
    padding: 3px 6px;
    filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #666666);
}

.round {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 8px 16px;
    border-radius: 4px;
    filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #666666);
}

.main__btn-box a {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 8px 16px;
    border-radius: 4px;
    filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #666666);
}

a:hover {
    color: white;
    
}

.previous {
    background-color: #ddd;
    color: black;
}

.next {
    background-color: #00bbf9;
    color: white;
}

.round {
    border-radius: 50%;
}

.bloc {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-radius: 4px;
    filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #666666);
}